{% extends 'index.html' %}
{% load static %}
<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-png" href="{% static 'assets/img/favicon2.png' %}" />
    <link href="{% static 'css/projects.css' %}" rel="stylesheet" />
    <title>Projects</title>
</head>
<body>
     <nav>
        <ul>
            <li><a href="">RoshanPokhrel</a></li>        
            <li><a href="">Home</a></li>        
            <li><a href="">Projects</a></li>        
            <li><a href="">Blogs</a></li>        
            <li><a href="">Contact</a></li>        
        </ul>
    </nav> -->
    <!-- <h1>Some Of My Awesome Projects Lists</h1>
<section class="container">
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn">View Code</button>
        </div>
    </div>
</section>




</body>
</html> --> 


{% block body %}

<link href="{% static 'css/projects.css' %}" rel="stylesheet" />
<h1>Some Of My Awesome Projects Lists</h1>
<section class="container1">
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
    <button type="submit" class="btn1">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn1">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn1">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn1">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn1">View Code</button>
        </div>
    </div>
    <div class="cards">
        <div class="img">
<img src="https://images.unsplash.com/photo-1524010349062-860def6649c3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e725946a3f177dce83a705d4b12019c2&auto=format&fit=crop&w=500&q=60">
        </div>
        <div class="info">
            <h1>PROJECT NAME</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quis quae amet quo, illum accusamus et cumque eum, nostrum, laborum quaerat nesciunt ullam exercitationem at impedit deserunt magnam saepe facere.</p>
<button type="submit" class="btn1">View Code</button>
        </div>
    </div>
</section> 

{% endblock %}