.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
    border-top: 5px solid crimson;
    border-bottom:  5px solid crimson;

}
.cards{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    overflow: hidden;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 0 0 20px 2px black;
    
}
.img img, .info{
    width: 100%;
    height: 50%;
}
a{
    color: black;
    font-size: 30px;
    font-weight: 700;
    
}